{{! Garvity forms Shipping Field component https://docs.gravityforms.com/shipping-field/ https://docs.gravityforms.com/validation-errors/ }}

<li
        id="field_{{gFormIndex}}_{{gFormFieldIndex true}}"
        class="gfield {{gformFieldErrorClass showError}} {{gformAddCustomClass customClass}} {{gformRequiredClass
                required}} gfield_price gfield_shipping gfield_shipping_{{gFormFieldIndex}} field_sublabel_below field_description_below {{gformHideLabel
                hideLabel}} gfield_visibility_visible"> {{! what does this mean -> http://prntscr.com/i3v7gm https://prnt.sc/i2p29u http://prntscr.com/i3w204 http://prntscr.com/i3v3j4 }}
  {{#ifequal fieldType 2}}
    <label class="gfield_label" for="input_{{gFormIndex}}_{{gFormFieldIndex}}">
      {{labelText}}{{#with required}}<span class="gfield_required">*</span>{{/with}}
    </label>
  {{else}}
    <label class="gfield_label">
      {{labelText}}{{#with required}}<span class="gfield_required">*</span>{{/with}}
    </label>
  {{/ifequal}}
  {{#ifequal fieldType 1}}
    <div class="ginput_container ginput_container_singleshipping">
      <input type="hidden" name="input_{{gFormFieldIndex}}" value="$10.00" class="gform_hidden">
      <span class="ginput_shipping_price" id="input_{{gFormIndex}}_{{gFormFieldIndex}}">$10.00</span>
    </div>
  {{/ifequal}}
  {{#ifequal fieldType 2}}
    <div class="ginput_container ginput_container_select">
      <select
              name="input_{{gFormFieldIndex}}"
              id="input_{{gFormIndex}}_{{gFormFieldIndex}}"
              class="medium gfield_select"
              aria-required="true"
              aria-invalid="false"
      >
        <option value="First Choice|1">First Choice</option>
        <option value="Second Choice|2">Second Choice +$1.00</option>
        <option value="Third Choice|3">Third Choice +$2.00</option>
      </select>
    </div>
  {{/ifequal}}
  {{#ifequal fieldType 3}}
    <div class="ginput_container ginput_container_radio">
      <ul class="gfield_radio" id="input_{{gFormIndex}}_{{gFormFieldIndex}}">
        <li class="gchoice_{{gFormIndex}}_{{gFormFieldIndex}}_0">
          <input
                  name="input_{{gFormFieldIndex}}"
                  type="radio"
                  value="First Choice|1"
                  id="choice_{{gFormIndex}}_{{gFormFieldIndex}}_0"
          >
          <label for="choice_{{gFormIndex}}_{{gFormFieldIndex}}_0" id="label_{{gFormIndex}}_{{gFormFieldIndex}}_0">First
            Choice<span class="ginput_price"> +$1.00</span></label>
        </li>
        <li class="gchoice_{{gFormIndex}}_{{gFormFieldIndex}}_1">
          <input
                  name="input_{{gFormFieldIndex}}"
                  type="radio"
                  value="Second Choice|2"
                  id="choice_{{gFormIndex}}_{{gFormFieldIndex}}_1"
          >
          <label for="choice_{{gFormIndex}}_{{gFormFieldIndex}}_1" id="label_{{gFormIndex}}_{{gFormFieldIndex}}_1">Second
            Choice<span
                    class="ginput_price"> +$2.00</span></label>
        </li>
        <li class="gchoice_{{gFormIndex}}_{{gFormFieldIndex}}_2">
          <input
                  name="input_{{gFormFieldIndex}}"
                  type="radio" value="Third Choice|3"
                  id="choice_{{gFormIndex}}_{{gFormFieldIndex}}_2"
          >
          <label for="choice_{{gFormIndex}}_{{gFormFieldIndex}}_2" id="label_{{gFormIndex}}_{{gFormFieldIndex}}_2">Third
            Choice<span class="ginput_price"> +$3.00</span></label>
        </li>
      </ul>
    </div>
  {{/ifequal}}
  {{#if descriptionText}}
    <div class="gfield_description">{{descriptionText}}</div>
  {{/if}}
  {{#if showError}}
    <div class="gfield_description validation_message"> {{! what does it mean -> http://prntscr.com/i3y6bc }}
      {{#if customValidationText}}
        {{customValidationText}}
      {{else}}
        This field is required.
      {{/if}}
    </div>
  {{/if}}
</li>
