{{! Garvity forms File Upload Field component https://docs.gravityforms.com/file-upload-field/ https://docs.gravityforms.com/validation-errors/ }}

<li
        id="field_{{gFormIndex}}_{{gFormFieldIndex true}}"
        class="gfield {{gformFieldErrorClass showError}} {{gformAddCustomClass customClass}} {{gformRequiredClass
                required}}  field_sublabel_below field_description_below {{gformHideLabel
                hideLabel}} gfield_visibility_visible"
> {{! what does this mean -> http://prntscr.com/i3v7gm https://prnt.sc/i2p29u http://prntscr.com/i3w204 http://prntscr.com/i3v3j4 }}
  <label class="gfield_label">
    {{labelText}}{{#with required}}<span class="gfield_required">*</span>{{/with}}
  </label>
  <div class="ginput_container ginput_container_fileupload">
    {{#if enableMultifile}}
    {{! what does it mean --> http://prntscr.com/ie2eya/direct }}
      <div id="gform_multifile_upload_{{gFormIndex}}_{{gFormFieldIndex}}"
           data-settings="{&quot;runtimes&quot;:&quot;html5,flash,html4&quot;,&quot;browse_button&quot;:&quot;gform_browse_button_{{gFormIndex}}_{{gFormFieldIndex}}&quot;,&quot;container&quot;:&quot;gform_multifile_upload_{{gFormIndex}}_{{gFormFieldIndex}}&quot;,&quot;drop_element&quot;:&quot;gform_drag_drop_area_{{gFormIndex}}_{{gFormFieldIndex}}&quot;,&quot;filelist&quot;:&quot;gform_preview_{{gFormIndex}}_{{gFormFieldIndex}}&quot;,&quot;unique_names&quot;:true,&quot;file_data_name&quot;:&quot;file&quot;,&quot;url&quot;:&quot;http:\/\/nwbp.devbucket.me\/?gf_page=9a21cfc692a32ed&quot;,&quot;flash_swf_url&quot;:&quot;http:\/\/nwbp.devbucket.me\/wp-includes\/js\/plupload\/plupload.flash.swf&quot;,&quot;silverlight_xap_url&quot;:&quot;http:\/\/nwbp.devbucket.me\/wp-includes\/js\/plupload\/plupload.silverlight.xap&quot;,&quot;filters&quot;:{&quot;mime_types&quot;:[{&quot;title&quot;:&quot;Allowed Files&quot;,&quot;extensions&quot;:&quot;jpg,gif,png,pdf&quot;}],&quot;max_file_size&quot;:&quot;1048576b&quot;},&quot;multipart&quot;:true,&quot;urlstream_upload&quot;:false,&quot;multipart_params&quot;:{&quot;form_id&quot;:8,&quot;field_id&quot;:19},&quot;gf_vars&quot;:{&quot;max_files&quot;:0,&quot;message_id&quot;:&quot;gform_multifile_messages_{{gFormIndex}}_{{gFormFieldIndex}}&quot;,&quot;disallowed_extensions&quot;:[&quot;php&quot;,&quot;asp&quot;,&quot;aspx&quot;,&quot;cmd&quot;,&quot;csh&quot;,&quot;bat&quot;,&quot;html&quot;,&quot;htm&quot;,&quot;hta&quot;,&quot;jar&quot;,&quot;exe&quot;,&quot;com&quot;,&quot;js&quot;,&quot;lnk&quot;,&quot;htaccess&quot;,&quot;phtml&quot;,&quot;ps1&quot;,&quot;ps2&quot;,&quot;php3&quot;,&quot;php4&quot;,&quot;php5&quot;,&quot;php6&quot;,&quot;py&quot;,&quot;rb&quot;,&quot;tmp&quot;]}}"
           class="gform_fileupload_multifile"
           style="position: relative;">
        <div id="gform_drag_drop_area_{{gFormIndex}}_{{gFormFieldIndex}}" class="gform_drop_area"
             style="position: relative;">
          <span class="gform_drop_instructions">Drop files here or </span>
          <input
                  id="gform_browse_button_{{gFormIndex}}_{{gFormFieldIndex}}"
                  type="button"
                  value="Select files"
                  class="button gform_button_select_files"
                  aria-describedby="extensions_message_{{gFormIndex}}_{{gFormFieldIndex}}"
                  style="position: relative; z-index: 1;"
          >
        </div>
        <div id="html5_1c67aebrg11dsnr2cbain1b3u3_container" class="moxie-shim moxie-shim-html5"
             style="position: absolute; top: 57px; left: 486px; width: 74px; height: 18px; overflow: hidden; z-index: 0;">
          <input
                  id="html5_1c67aebrg11dsnr2cbain1b3u3"
                  type="file"
                  style="font-size: 999px; opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  multiple=""
                  accept="image/jpeg,.jpg,image/gif,.gif,image/png,.png,application/pdf,.pdf"
          >
        </div>
      </div>
    {{else}}
      <input
              type="hidden"
              name="MAX_FILE_SIZE"
              value="{{gformMaxFileSize maxFileSize}}"
      > {{! what does it mean --> http://prntscr.com/ie2fsg }}
      <input
              name="input_{{gFormFieldIndex}}"
              id="input_{{gFormIndex}}_{{gFormFieldIndex}}"
              type="file"
              class="{{fieldSize}}"
              aria-describedby="extensions_message_{{gFormIndex}}_{{gFormFieldIndex}}"
              onchange="gformValidateFileSize( this, {{gformMaxFileSize maxFileSize}} );"
      >
    {{/if}}
    {{#if allowedExtension}}
    {{! what does it mean --> http://prntscr.com/ie2fik }}
      <span id="extensions_message_{{gFormIndex}}_{{gFormFieldIndex}}" class="screen-reader-text">
				Accepted file types: {{allowedExtension}}.
			</span>
    {{/if}}
    <div class="validation_message">
      {{#if showError}}
        filename.test - File exceeds size limit
      {{/if}}
    </div>
  </div>
  {{#if descriptionText}}
    <div class="gfield_description">{{descriptionText}}</div>
  {{/if}}
  {{#if showError}}
    <div class="gfield_description validation_message"> {{! what does it mean -> http://prntscr.com/i3y6bc }}
      {{#if customValidationText}}
        {{customValidationText}}
      {{else}}
        This field is required.
      {{/if}}
    </div>
  {{/if}}
</li>
