{{! part of gform-checkboxes partial }}

<li>
  <input
          type="checkbox"
          value="{{defaultValue}}"
          id="choice_{{gFormIndex}}_{{gFormFieldIndex}}_{{gFormSubFieldIndex true}}"
  >
  <label for="choice_{{gFormIndex}}_{{gFormFieldIndex}}_{{gFormSubFieldIndex}}">{{labelText}}</label>
</li>
