---
title: About Us
---

<section class="section-about-page">
    <img class="object-fit object-fit-cover" src="{{root}}images/bgi-about-section.png" alt="" />
    <div class="inner">
        <div class="breadcrumbs">
            <span>
                <a href="#">Home</a>
                {{#each ( stringToArray parents )}}
                    {{#if this}}
                    <span>
                        <a href="#">{{this}}</a>
                    {{/if}}
                {{/each}}
                <span class="breadcrumb_last" aria-current="page">
                    {{#if last}}{{last}}{{else}}{{title}}{{/if}}
                </span>
                {{#each ( stringToArray parent )}}
                    {{#if this}}
                    </span>
                    {{/if}}
                {{/each}}
            </span>
        </div>
        <h1 class="title">Redstone Distribution Services</h1>
        <div class="text">
            <p>RDS is Texas’ premier technical sales team representing multiple orthopedic implant manufacturers. RDS specializes in servicing the orthopedic extremities market with an even greater emphasis on solutions for <b>shoulder surgery.</b></p>
        </div>
    </div>
</section>

<section class="section-our-team">
    <div class="inner">
        <div class="services">
            <div class="wrap">
                <div class="tabs-text">
                    <h2 class="title">Meet Our Team</h2>
                    <p>We are always looking for talented people to join our team.  Please send your information to <a href="#">careers@rdsortho.com</a></p>
                </div>
                <ul class="tabs-nav">
                    <li>DFW Metroplex</li>
                    <li>Greater Austin</li>
                    <li>San Antonio</li>
                </ul>
                <div class="tabs">
                    <div class="tab">
                        <ul class="tab-list">
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item1.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Joshua Buzzard</b></p>
                                            <p>Sr. Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item2.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chris Holmes</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item3.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chase Oestereich</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item4.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Blake Bishop</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item1.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Joshua Buzzard</b></p>
                                            <p>Sr. Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item2.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chris Holmes</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item3.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chase Oestereich</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item4.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Blake Bishop</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab">
                        <ul class="tab-list">
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item2.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chris Holmes</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item1.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Joshua Buzzard</b></p>
                                            <p>Sr. Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item3.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chase Oestereich</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item4.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Blake Bishop</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item1.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Joshua Buzzard</b></p>
                                            <p>Sr. Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item2.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chris Holmes</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item3.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chase Oestereich</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item4.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Blake Bishop</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab">
                        <ul class="tab-list">
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item1.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Joshua Buzzard</b></p>
                                            <p>Sr. Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item3.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chase Oestereich</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item2.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chris Holmes</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item4.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Blake Bishop</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item1.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Joshua Buzzard</b></p>
                                            <p>Sr. Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item2.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chris Holmes</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item3.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Chase Oestereich</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="tab-item">
                                <a href="#">
                                    <div class="tab-item-content">
                                        <div class="img">
                                            <img src="{{root}}images/tab-item4.png" alt="" />
                                        </div>
                                        <div class="text">
                                            <p><b>Blake Bishop</b></p>
                                            <p>Upper Extremity Specialist</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>section-form class="section-form-about"}}

<section class="section-partners section-partners-about">
  <div class="inner">
    <h4 class="title">VENDOR Partners</h4>
    <ul class="partners-img">
      <li><img src="{{root}}images/partner1.png" alt="" /></li>
      <li><img src="{{root}}images/partner2.png" alt="" /></li>
      <li><img src="{{root}}images/partner3.png" alt="" /></li>
      <li><img src="{{root}}images/partner4.png" alt="" /></li>
    </ul>
  </div>
</section>
