<div class="blog-wrapper">
  <div class="inner">
    <div class="wrap">
      <div class="sidebar">
        <div class="archive-list-block">
          <h2 class="archive-title">Categories</h2>
          <ul class="archive-list">
            <li><a href="#">Habitasse Platea</a></li>
            <li><a href="#">Dictumst Vivamus</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li><a href="#">Fermentum</a></li>
            <li><a href="#">Quam Volutpat</a></li>
          </ul>
        </div>
        <div class="archive-list-block">
          <h2 class="archive-title">Archive</h2>
          <ul class="archive-list">
            <li><a href="#">March 2019</a> (2)</li>
            <li><a href="#">February 2019</a> (2)</li>
            <li><a href="#">January 2019</a> (2)</li>
            <li><a href="#">March 2018</a> (2)</li>
            <li><a href="#">February 2018</a> (2)</li>
            <li><a href="#">January 2018</a> (2)</li>
          </ul>
        </div>
      </div>
      <div class="content text-content">
        <div class="main-blog">
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog-first.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog1.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog2.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog3.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog1.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog2.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail" style="background-image: url({{root}}images/blog3.jpg)"><a href="#"></a></div>
            <div class="text">
              <div class="categories">
                <a href="#" rel="category tag">Adipiscing</a>
                <a href="#" rel="category tag">Fermentum</a>
              </div>
              <h2 class="title"><a href="#">Cras Quis Nulla Comdo Aliquam Lectus Sed  </a></h2>
              <div class="posted">Posted - March 15, 2019</div>
              <div class="item-content">
                Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae.
                <a href="#" class="more">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
