---
title: Home page
---

<section class="section-servicing">
  <div class="inner">
    <div class="col">
      <h1 class="title">Servicing the orthopedic extremities market with an even greater emphasis on solutions for <b>shoulder
        surgery.</b></h1>
      <div class="text">
        <span>Aequalis Ascend Flex Shoulder System</span>
        <p>One System. Two Solutions.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div class="col">
      <div class="slider">
        <div class="img">
          <img src="{{root}}images/servicing-scroll1.png" alt="">
        </div>
        <div class="img">
          <img src="{{root}}images/servicing-scroll1.png" alt="">
        </div>
        <div class="img">
          <img src="{{root}}images/servicing-scroll1.png" alt="">
        </div>
        <div class="img">
          <img src="{{root}}images/servicing-scroll1.png" alt="">
        </div>
        <div class="img">
          <img src="{{root}}images/servicing-scroll1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-description">
  <img class="object-fit object-fit-cover" src="{{root}}images/section-description-bgi.png" alt=""/>
  <div class="inner">
    <div class="col">
      <div class="text">
        <p>Redstone Distribution is Texas premier technical sales team representing <b>multiple orthopedic implant
          manufacturers.</b> RDS specializes in servicing the orthopedic extremities market with an even greater
          emphasis on solutions for shoulder surgery.</p>
      </div>
      <div class="products-lists">
        <div class="list">
          <h3 class="title">Patient Specific Surgical Planning</h3>
          <ul>
            <li><a href="#">Blueprint</a></li>
            <li><a href="#">Patient Specific Instruments</a></li>
          </ul>
        </div>
        <div class="list">
          <h3 class="title">Surgical Devices</h3>
          <ul>
            <li><a href="#">Primary TSA</a></li>
            <li><a href="#">Reverse TSA</a></li>
            <li><a href="#">Revision Surgery</a></li>
            <li><a href="#">Trauma</a></li>
            <li><a href="#">Sports Medicine</a></li>
            <li><a href="#">Elbow</a></li>
            <li><a href="#">Hand & Wrist</a></li>
          </ul>
        </div>
        <div class="list">
          <h3 class="title">Biologics</h3>
          <ul>
            <li><a href="#">Bone Healing / Regeneration</a></li>
            <li><a href="#">Tissue Healing / Regeneration</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <a href="#" class="btn">Learn About Our Products</a>
    </div>
  </div>
</section>

<section class="section-products-procedure">
  <div class="col">
    <div class="inner">
      <div class="title-text">
        <h2 class="title">Products</h2>
        <h4 class="subtitle">Surgeons Are Searching For</h4>
      </div>
      <div class="services">
        <div class="wrap">
          <ul class="tabs-nav">
            <li>Graftlink Technique</li>
            <li>Ankle Fracture</li>
            <li>GraftNet Device</li>
          </ul>
          <div class="tabs">
            <div class="tab">
              <div class="tab-col">
                <h5 class="title">Graftlink Technique</h5>
                <div class="text">
                  <p class="amount">7 Products</p>
                  <p>Aliquet enim tortor at auctor urna nunc id cursus. Turpis tincidunt id aliquet risus feugiat in
                    ante. Ultrices tincidunt arcu non sodales neque sodales ut. Adipiscing at in tellus integer feugiat
                    scelerisque varius morbi enim. Potenti nullam ac tortor vitae purus faucibus ornare. Volutpat sed
                    cras ornare arcu dui. Imperdiet massa tincidunt nunc pulvinar sapien.</p>
                  <a href="#">More Info</a>
                </div>
              </div>
              <div class="tab-col">
                <div class="img">
                  <img src="{{root}}images/section-products-tab1.png" alt=""/>
                </div>
                <a class="link-play" href="https://www.youtube.com/watch?v=NaHZV4iu-8Y">
                  <img src="{{root}}images/section-products-video1.png" alt=""/>
                  <span>Play</span>
                </a>
              </div>
            </div>
            <div class="tab">
              <div class="tab-col">
                <h5 class="title">Ankle Fracture</h5>
                <div class="text">
                  <p class="amount">7 Products</p>
                  <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                    Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia
                    dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu
                    ipsum.</p>
                  <a href="#">More Info</a>
                </div>
              </div>
              <div class="tab-col">
                <div class="img">
                  <img src="{{root}}images/section-products-tab1.png" alt="">
                </div>
                <a class="link-play" href="#">
                  <img src="{{root}}images/section-products-video1.png" alt="">
                  <span>Play</span>
                </a>
              </div>
            </div>
            <div class="tab">
              <div class="tab-col">
                <h5 class="title">GraftNet Device</h5>
                <div class="text">
                  <p class="amount">7 Products</p>
                  <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
                    previewing layouts and visual mockups.Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum.</p>
                  <a href="#">More Info</a>
                </div>
              </div>
              <div class="tab-col">
                <div class="img">
                  <img src="{{root}}images/section-products-tab1.png" alt="">
                </div>
                <a class="link-play" href="#">
                  <img src="{{root}}images/section-products-video1.png" alt="">
                  <span>Play</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="inner">
      <div class="title-text">
        <h2 class="title">Procedures</h2>
        <h4 class="subtitle">Surgeons Are Talking About</h4>
      </div>
      <ul class="produres-list">
        <li class="item">
          <a class="item-link" href="#">
            <div class="img">
              <img src="{{root}}images/produres-item1.png" alt=""/>
            </div>
            <div class="content">
              <p>Syndesmosis TightRope<sup>®</sup> Implant System</p>
              <div class="bottom">
                <span>15 Procedures</span>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a class="item-link" href="#">
            <div class="img">
              <img src="{{root}}images/produres-item2.png" alt=""/>
            </div>
            <div class="content">
              <p>Knotless Hip Labral Repair /Reconstruction</p>
              <div class="bottom">
                <span>15 Procedures</span>
              </div>
            </div>
          </a>
        </li>
        <li class="item">
          <a class="item-link" href="#">
            <div class="img">
              <img src="{{root}}images/produres-item3.png" alt=""/>
            </div>
            <div class="content">
              <p>Superior Capsular Reconstruction (SCR)</p>
              <div class="bottom">
                <span>15 Procedures</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{{>section-form}}

<section class="section-partners">
  <div class="inner">
    <h4 class="title">VENDOR Partners</h4>
    <ul class="partners-img">
      <li><img src="{{root}}images/partner1.png" alt=""/></li>
      <li><img src="{{root}}images/partner2.png" alt=""/></li>
      <li><img src="{{root}}images/partner3.png" alt=""/></li>
      <li><img src="{{root}}images/partner4.png" alt=""/></li>
    </ul>
  </div>
</section>
