---
title: Products & Resources
---

<section class="section-product-page">
    <img class="object-fit object-fit-cover" src="{{root}}images/bgi-products-page.png" alt="" />
     <div class="inner">
        <div class="breadcrumbs">
            <span>
                <a href="#">Home</a>
                {{#each ( stringToArray parents )}}
                    {{#if this}}
                    <span>
                        <a href="#">{{this}}</a>
                    {{/if}}
                {{/each}}
                <span class="breadcrumb_last" aria-current="page">
                    {{#if last}}{{last}}{{else}}{{title}}{{/if}}
                </span>
                {{#each ( stringToArray parent )}}
                    {{#if this}}
                    </span>
                    {{/if}}
                {{/each}}
            </span>
        </div>
        <h1 class="title">Products & Resources</h1>
        <div class="text">
            <p>Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin.</p>
        </div>
    </div>
</section>

<section class="section-new">
    <div class="inner">
        <div class="row">
            <div class="text">
                <h2>What's New</h2>
                <p>Surgeons Are Searching For</p>
            </div>
            <a href="#">Our Procedures</a>
        </div>
        <ul class="news-list">
            <li class="item">
                <div class="item-content">
                    <div class="img">
                        <img src="{{root}}images/product-item1.png" alt="" />
                    </div>
                    <a href="{{root}}videos-page.html" class="content-title">Augmented Glenoid</a>
                    <div class="item-text">
                        <a href="{{root}}videos-page.html" class="text">Selling Sheet</a>
                        <a href="{{root}}videos-page.html" class="watch-video">Watch Video</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item-content">
                    <div class="img">
                        <img src="{{root}}images/product-item2.png" alt="" />
                    </div>
                    <a href="{{root}}videos-page.html" class="content-title">Revive</a>
                    <div class="item-text">
                        <a href="{{root}}videos-page.html" class="text">Selling Sheet</a>
                        <a href="{{root}}videos-page.html" class="watch-video">Watch Video</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item-content">
                    <div class="img">
                        <img src="{{root}}images/product-item3.png" alt="" />
                    </div>
                    <a href="{{root}}videos-page.html" class="content-title">Flex</a>
                    <div class="item-text">
                        <a href="{{root}}videos-page.html" class="text">Selling Sheet</a>
                        <a href="{{root}}videos-page.html" class="watch-video">Watch Video</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item-content">
                    <div class="img">
                        <img src="{{root}}images/product-item4.png" alt="" />
                    </div>
                    <a href="{{root}}videos-page.html" class="content-title">Blueprint</a>
                    <div class="item-text">
                        <a href="{{root}}videos-page.html" class="text">Selling Sheet</a>
                        <a href="{{root}}videos-page.html" class="watch-video">Watch Video</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item-content">
                    <div class="img">
                        <img src="{{root}}images/product-item5.png" alt="" />
                    </div>
                    <a href="{{root}}videos-page.html" class="content-title">Simplicity</a>
                    <div class="item-text">
                        <a href="{{root}}videos-page.html" class="text">Selling Sheet</a>
                        <a href="{{root}}videos-page.html" class="watch-video">Watch Video</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="item-empty">
                    <div class="text-item-empty">
                        <p>Didn't find what you are looking for?</p>
                        <a href="{{root}}videos-page.html" class="btn">Contact Us</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="section-procedures">
    <div class="inner">
        <div class="row">
            <div class="text">
                <h2>Procedures</h2>
                <p>Surgeons Are Talking About</p>
            </div>
        </div>
        <ul class="procedures-list">
            <li class="item">
                <a href="#">
                    <div class="img">
                        <img src="{{root}}images/procedures-item1.png" alt="" />
                    </div>
                    <div class="text-item">
                        <p>Total Shoulder Arthroplasty</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <div class="img">
                        <img src="{{root}}images/procedures-item2.png" alt="" />
                    </div>
                    <div class="text-item">
                        <p>Reverse Total Shoulder Arthroplasty</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <div class="img">
                        <img src="{{root}}images/procedures-item3.png" alt="" />
                    </div>
                    <div class="text-item">
                        <p>Revisions</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#">
                    <div class="img">
                        <img src="{{root}}images/procedures-item4.png" alt="" />
                    </div>
                    <div class="text-item">
                        <p>HWE</p>
                    </div>
                </a>
                <ul>
                    <li><a href="#">Hand</a></li>
                    <li><a href="#">Wrist</a></li>
                    <li><a href="#">Elbow</a></li>
                </ul>
            </li>
            <li class="item">
                <a href="#">
                    <div class="img">
                        <img src="{{root}}images/procedures-item5.png" alt="" />
                    </div>
                    <div class="text-item">
                        <p>Biologics</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <div class="item-empty">
                    <div class="text-item-empty">
                        <p>Didn't find what you are looking for?</p>
                        <a href="#" class="btn">Contact Us</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

{{>section-form class="section-form-product-page"}}

<section class="section-partners">
  <div class="inner">
    <h4 class="title">VENDOR Partners</h4>
    <ul class="partners-img">
      <li><img src="{{root}}images/partner1.png" alt="" /></li>
      <li><img src="{{root}}images/partner2.png" alt="" /></li>
      <li><img src="{{root}}images/partner3.png" alt="" /></li>
      <li><img src="{{root}}images/partner4.png" alt="" /></li>
    </ul>
  </div>
</section>
