{{!-- Header section block --}}
<header class="header">
  <div id="sticky-header" class="unfixed">
    <div class="second-nav-holder">
      <div class="inner">
        <ul class="second-nav">
          <li class="link-professionals"> <a href="#"> For Medical Professionals </a></li>
          <li class="link-patients"> <a href="{{root}}patients-page.html"> For Patients </a></li>
        </ul>
      </div>
    </div>
    <div class="main-nav-holder">
      <div class="inner">
        <div class="logo">
          {{#ifpage 'index'}}
          <img src="{{root}}images/logo.png" alt="">
          {{/ifpage}}
          {{#unlesspage 'index'}}
          <a href="{{root}}/"><img src="{{root}}images/logo.png" alt=""></a>
          {{/unlesspage}}
        </div>
        <nav class="main-nav-container">
          <ul class="main-nav header-nav">
            <li class="current-menu-item"> <a href="{{root}}index.html"> Home </a></li>
            <li class="menu-item-has-children"> <a href="{{root}}products-page.html"> Products & Resources </a> 
              <ul class="sub-menu">
                <li><a href="#">Videos</a></li>
              </ul>
            </li>
            <li> <a href="#"> Skills Workshop </a> </li>
            <li> <a href="{{root}}about-page.html"> About Us </a></li>
            <li> <a href="#"> News & Events </a></li>
            <li> <a href="{{root}}contact-page.html"> Contact Us </a></li>
            <li class="phone-link"> <a href="tel:214-790-0840"> (214) 790-0840 </a></li>
          </ul>
        </nav>
        <button class="menu-toggle" id="open-button">Menu</button>
      </div>
    </div>
  </div>
</header>